# Environment variables and config files should not end up in the repository
# since they're specific to the environment.
.env

# No need to copy over all node modules or any logs.
node_modules
*.log

# Ignore everything inside the temporary file upload directory.
Api/Storage/tmp/*

# Ignore the examples directory.
examples
