# Environment variables and config files should not end up in the repository
# since they're specific to the environment.
.env
server/Client/source/javascript/config.js
server/Client/public/javascript/config.js

# No need to copy over all node modules or any logs.
node_modules
*.log

# Ignore the temporary file upload directory.
server/Storage/tmp

# Ignore all the files inside the minio directory.
server/Storage/minio/*
minio.1
minio.service