/**
 *  Main styling for the Overlay class.
 */
.overlay
{
  // We need the background to be partially transparent.
  --background: rgba(8, 7, 8, .4);

  // Occupy all available space.
  width: 100%;
  height: 100%;

  // Use FlexBox to create a layout.
  display: flex;

  // Create a vertical layout.
  flex-direction: column;

  // Make sure this is always a single column layout.
  flex-wrap: nowrap;

  // We want to keep the interface elements of the layout to the edges as much
  // as possible so that we keep the middle of the screen open for viewing the
  // underlying content.
  justify-content: space-between;

  // We want to center all flex elements around the vertical axis so that we
  // keep the relevant interface elements close to the center of the screen.
  align-items: center;

  // Target the individual containers.
  .overlay-top, .overlay-bottom
  {
    // Take up all available width.
    width: 100%;

    // Align text to the middle.
    text-align: center;

    // We do not want to hit the edges of the screen.
    padding: 2rem;

    // We don't want our paddings to cause overflows.
    box-sizing: border-box;

    // Set a background to make our text more readable.
    background-color: var(--background);

    // Target all empty elements inside the overlay groups.
    > :empty
    {
      // Hide them.
      display: none;
    }
  }
}

// Target all fullscreen elements.
*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen
{
  // Some browsers may add a black background for fullscreen items. But that
  // will really mess with our overlay in augmented reality mode so we want to
  // disable that here.
  background-color: transparent;
}
